@font-face {
  font-family: "APL385";
  src: url("Apl385.ttf");
}
@font-face {
  font-family: "APL333";
  src: url("APL333.ttf");
}
@font-face {
  font-family: "OD";
  src: url("OpenDyslexic-Regular.otf");
}
@font-face {
  font-family: "SC";
  src: url("SourceCodeVariable-Roman.ttf");
}
body {
  background: #fffff3;
}
body > * {
  font-family: SC,Ubuntu,Courier,Verdana,Arial;  
  line-height: 1.5em;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  border: none;
  background-color: #eae9f3;
  color: #fff;
  padding: 0.3em;
  border-radius: 0.2em;
}
a:hover {
  background: #BBB5D6;
}
.apl {
  font-family: APL385!important;
  color: #361134;
  background: #eae9f3;
}
.nav {
  position: fixed;
  bottom: 3em;
}
.left {
  left: 9em;
}
.right {
  right: 3em;
}
#output {
  padding: 1em;
  font-size: 1.5em;
  font-variant-numeric: tabular-nums !important;
  font-family: monospace !important;
  border-radius: 5px;
}
#aplscript {
  font-size: 1.5em;
  width: 100%;
  height: 5em;
  resize: none;
  border: none;
  background: #eae9f3;
  border-radius: 5px;
  padding: 1em;
}
pre {
  line-height: 1em!important;
  padding: 1em 0 0 0.5em;
  background: #eae9f3;
  border: none;
  border-radius: 5px;  
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.copy {
  padding: 1em;
  margin: 1em 0 1em 0;
  background: #eae9f3;
  border: none;
  border-radius: 5px;  
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  overflow: hidden;
  width: 100%;
  resize: none;
}
.copy:hover {
  background: #BBB5D6;/*#928abd;*/
}
.description {
  display: inline-flex;
  width: 80%;
}
.description p {
  display: block;
  padding: 0em 0em 0 2em;
  width: 100%;
  margin: 0;
}
.solution {
  width: 90%;
  line-height: 1.15em;
  margin-top: 1em;
}
.border {
  border: 1px solid black;
  border-collapse: collapse;
}
.border td {
  border: 1px solid black;
}
.submit {width: 10%;}
#tabContainer {
  float: left;
  border: 1px solid black;
  background-color: #b193c1;
  border: none;
  border-radius: 5px;
  width: 15%;
  margin-left: 1em;
}
.tab {
  float: right;
  padding: 0px 12px;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  width: 70%;
  margin-right: 10%;
  /* height: 300px; */
  padding-bottom: 1em;
}
/* Style the buttons that are used to open the tab content */
#tabContainer button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
#tabContainer button:hover {
  background-color: #BBB5D6;/*#b793c1;*/
}

/* Create an active/current "tab button" class */
#tabContainer button.active {
  background-color: #655aa0;
}
/* language bar */

.ngn_lb {
  background-color: #eae9f3;
  color: #555;
  cursor: default;
  border-radius: 0.25rem;
  font-family: "Apl385 Unicode";
  padding: 2px;
  word-wrap: break-word;
  margin-top: 1em;
}

.ngn_lb b {
  cursor: pointer;
  padding: 0 0.125rem;
  font-weight: normal;
  border-radius: 0.125rem;
}

.ngn_lb b:hover,
.ngn_bq .ngn_lb {
  background-color: #928abd;
  color: #fff
}
.svg-inline--fa {
  color: #d4af37;
  height: 1em;
}