@font-face {
  font-family: "APL385";
  src: local('APL385 Unicode'),url("Apl385.ttf");
}
*{font-size:24px;font-family:APL385;}
body{
  margin: 0;
  overflow: hidden;  
}
textarea{  
  resize: none;
  width: calc(100% - 1ex);
  border: none;
  padding: 0 0.5ex;
  margin: 0;
}
.b{filter:invert(1)}  .g{filter:invert(0.85)}

.ngn_lb{position:fixed;top:0;left:0;right:0;background-color:#eee;color:#000;
  border-bottom:solid #999 2px;padding:2px;word-wrap:break-word;user-select:none}
.ngn_lb b{cursor:pointer;padding:0 2px;font-weight:normal}
.ngn_lb b:hover,.ngn_bq .ngn_lb{background-color:#777;color:#fff}

.ngn_x,.ngn_lb .help{float:right;color:#999;cursor:pointer;margin-top:-3px}
.ngn_x:hover{color:#f00}

.minibar {position: fixed;right: -2px;top: -2px;background: #eee;border: 2px solid #999;
  padding: 0 3px;cursor: pointer;color:#999;user-select:none}
.minibar {margin-top:-1px}
.ngn_o:hover{color:#0f0}
.help{text-decoration:none;color:#999;padding:0 2px}
.ngn_lb .help {float:right}
.help:hover{color:#00f}