@import url('https://fonts.googleapis.com/css?family=Nunito:600,600i,700,700i&display=swap');

@font-face {
  font-family: "APL385";
  src: local("APL385 Unicode"), url("assets/apl385.ttf");
}

* {
  font-family: 'Nunito', sans-serif;
}

pre,
code {
  font-family: "APL385";
}

body {
  margin: 0;
  overflow: hidden;
}

.b {
  color: #fff;
  background: #000;
}

h1 {
  font-size: 1.73em;
}

h2 {
  font-size: 1.44em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.69em;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  margin-block-start: 1.5ex;
  margin-block-end: 0.5ex;  
}

kbd{
  padding: 0 4px;
  border-radius: 4px;
  background: rgba(127,127,127,0.4);
  padding-bottom: 0;
  margin: 1px;
}

hr {
  border: 0;
  height: 0.1ex;
  background: #a54cce;
  opacity: 0.5;
  margin: 3px;
}

table {
  border-collapse: collapse;
}
td{
  padding: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1000em;
}

.split,
.gutter.gutter-horizontal {
  float: left;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
  background: #a54cce;
  height: 100vh;
  color: #fff;
}

.gutter-horizontal:before {
  content: "║";
  top: calc(50% - 4.5ex);
  position: relative;
}

.content {
  padding: 1ex 1em;
  overflow: hidden auto;
  display: none;
  height: calc(100vh - 3em);
}

.content.active {
  display: block;
}

.grid.active {
  display: grid;
}

.tablink {
  border: none;
  background: unset;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  color: #fff;
  width: 20%;
  font-size: 100%;
  overflow: hidden;
  font-family: unset;
  text-overflow: ellipsis;
  padding: 6px 2px;
}

.tablink:hover {
  /*! border-color: #fff; */
  background: #7f00b9;
}

.tablink.active {
  cursor: unset;
  border-color: #fff;
}

#leftPane {
  overflow-y: auto;
  z-index: -2;
}

#tabs {
  height: 2em;
  overflow: hidden;
  display: flex;
  background: #a54cce;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.hiTable, .creditsTable {
  margin: 1ex 0;
}

.hiTable {
  width: 100%
}

.hiTable td, .creditsTable td {
  padding: 0.5ex 0;
}

.hiTable td:first-child {
  white-space: pre;
  padding-right: 1em;
}

#nbURL {
  width: calc(100% - 4em);
  height: calc(2.25em - 2px);
  padding: 0 0.5em;
  vertical-align: middle;
  border: 1px solid #a54cce !important;
  font-size: 1em;
}

#nbURL:hover, #nbURL:focus {
  border: 1px solid #7f00b9;  
}

#lessonList a{
  display: block;
}

#run {
  height: 2.25em;
  background: #a54cce;
  border: 1px solid #a54cce;
  color: #fff;
  width: 2.75em;
  padding: 5px 0;
  text-transform: uppercase;
  fill: #fff;
  vertical-align: middle;
  font-size: 1em;
}

#run:hover{
  background: #7f00b9;
}

#loadnb a {
  text-decoration: underline;
  cursor: pointer;
}

#learnButtons {
  overflow: hidden;
  white-space: nowrap;
  background: #a54cce;
  width: calc(100% + 2em);
  text-align: center;
  margin-left: -1em;
  margin-top: -4ex;
  fill: #fff;
}

#learnButtons button {
  height: 2.25em;
  width: 3em;
  font-size: larger;
  padding-bottom: 0.5em;
  background: unset;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: -10px;
  padding-top: 6px
}

#p svg{
  transform: scaleX(-1);
}

#mdrender {
  display: none;
  overflow: auto;
  margin: -1ex -1em;
  padding: 1ex 1em 0 1em;
}

#learnButtons button:hover {
  background: #7f00b9;
}

#mdrender>* {
  padding: 0;
}

#mdrender img{
  float: unset;
}

  #session {
  font-family: "APL385";
  width: calc(100% - 1em);
  border: none;
  resize: none;
  padding: 0.2em 0.2em 0.2em 0.8em;
  color: inherit;
  background: inherit;
}
.b a {
  color: #77f;
}
.b a:visited {
  color: #c7f;
}
code.apl {
  font-family: "APL385";
  cursor: pointer;
  color: #800080;
}
.b code.apl {
  color: #f0f;
}

#primerGlyphs input {
  font-family: APL385, monospace;
  background: unset;
  border: none;
  font-size: 1.2em;
  padding: 0 0.1em;
  color: purple;
  cursor: pointer;
}

.b #primerGlyphs input {
  color: #a54cce; 
}

#primerGlyphs input:hover {
  background: #c06ece;
  color: #fff;
}

.creditsTable td:nth-child(2) {
  font-weight: bold;
  padding-left: 1em;
}

#full {
  position: relative;
  top: calc(50% - 70px);
  padding: 16px 3px 12.5px 1px;
  background: #a54cce;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  display: inline-block;
  left: 10px;
  color: #fff;
  fill: #fff;
}

#triangle.flip {
  transform: scaleX(-1);
}

#full:hover {
  background: #7f00b9;
}

.gutter:hover,
#full:hover {
  background: #7f00b9;
}

/* language bar */

.ngn_lb{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1ex -1ex 1ex inset #a54cce,0 0 5px rgba(0,0,0,0.5);
  background: radial-gradient(farthest-corner at 70% 80%,#a54cce6e 0%,#ba63d0d9 30%,#9244b9de 100%);
  border-bottom: 1px solid #a54cce;
  color: #fff;
  padding: 2px;
  word-wrap: break-word;
  user-select: none;
  z-index: -1;
}

.ngn_lb b,
.help {
  cursor: pointer;
  padding: 0 2px;
  font-weight: normal;
  text-decoration: none;
  font-family: "APL385";
  font-size: 1.2em;
}

.ngn_lb b:hover,
.ngn_bq .ngn_lb {
  background: #7f00b9;
  color: #fff;
  box-shadow: unset;
}

.ngn_x,
.help,
.ngn_o {
  float: right;
  color: #999;
  cursor: pointer;
}

.ngn_x {
  margin-top: -3px;
}

.ngn_x:hover {
  color: #f00;
}

.ngn_lb .help {
  margin: -4px 1px;
}

.minibar {
  position: fixed;
  right: -2px;
  top: -2px;
  background: #eee;
  border: 2px solid #ddd;
  padding: 0 3px;
  cursor: pointer;
  color: #999;
  user-select: none;
}

.minibar {
  margin-top: -1px;
}

.ngn_o:hover {
  color: #0f0;
}
